
*{
    box-sizing: border-box;
}
.Header-top{

    background-color: #272f54
}
	
.logo{
 text-align: center;
 background-color: #272f54;
}
.backgroud-img img{
    width: 1170px;
    max-width: 100%;
}

